* {
    text-align: center;
}
.header, .main, .footer {
    width: 900px;
}
.block{
    width: 100%;
    height: 30px;
}
.red {

    background-color: #f00000;
}
.green {

    background-color: #00f00c;
}
.blue {

    background-color: #1000f0;
}

.main-top {
    width: 33%;
    height: 30px;
    float: left;
}
.yellow {
    background-color: #f9fd04;
}
.main-center {
    width: 100% ;
    height: 30px;
}
.main-end {
    width: 50%;
    height: 30px;
    float: left;
}
.gray {
    background-color: rgb(68, 67, 67);
}
.black {
    background-color: rgb(0, 0, 0);
}
.main-on {
    width: 10%;
    height: 33%;
    float: left;
    height: 100%;
    border:10px solid grey;
}
.footer {
    height: 90px;
}
